<p-panel class="ui-g-12 ui-g-nopad" [toggleable]="true" [collapsed]="false">

    <p-header>
        <button pButton type="button" icon="fa-refresh" (click)="GetAllDBs()"></button>
        Replication
    </p-header>


    <div class='ui-g'>
        <div class='ui-g-12'>
            <div class='ui-g-4'>
                <p-panel class='ui-g-12' *ngIf="from.tables">
                    <p-header>
                        <button pButton type="button" icon="fa-refresh" (click)="GetFromDB()"></button>
                        FROM
                    </p-header>
                    <div class='ui-g'>
                        <div class='ui-g-12'>
                            <p-dropdown [options]="from.tables" (onChange)="SelectFromDB()" [(ngModel)]="from_db"></p-dropdown>
                        </div>
                        <div class='ui-g-12' *ngIf="from_current">
                            <div class='ui-g-3 '>Update Sequence </div>
                            <div class='ui-g-8 ' style='overflow-x:auto'>{{from_current.update_seq}}</div>
                        </div>
                    </div>
                </p-panel>
                <p-panel class='ui-g-12' *ngIf="from.tables">
                    <p-header>
                        <button pButton type="button" icon="fa-refresh" (click)="GetToDB()"></button>
                        To
                    </p-header>
                    <div class='ui-g'>
                        <div class='ui-g-12'>
                            <p-dropdown [options]="from.tables" (onChange)="SelectToDB()" [(ngModel)]="to_db"></p-dropdown>
                        </div>
                        <div class='ui-g-12' *ngIf="to_current">
                            <div class='ui-g-3 '>Update Sequence </div>
                            <div class='ui-g-8 ' style='overflow-x:auto'>{{to_current.update_seq}}</div>
                        </div>
                    </div>
                </p-panel>
            </div>


            <div class='ui-g-3'>
                <p-panel class="ui-g-12 ui-g-nopad" [toggleable]="true">
                    <p-header>
                        <button pButton type="button" icon="fa-refresh" (click)="GetChanges(from_db, to_db)"></button>
                        <p-inputSwitch onLabel="Docs" offLabel="Meta" [(ngModel)]="include_docs"></p-inputSwitch>

                        Changes :


                    </p-header>
                    <div class='ui-g' *ngIf='_changes != null'>
                        <div class='ui-g-10'>
                            <ul class='ui-g-12' *ngIf="_changes.results.length>0" style='border:1px white solid;'>
                            
                                <li *ngFor="let item of _changes.results">{{item.id }}</li>
                            </ul>
                            <ul class='ui-g-12' *ngIf="_changes.results.length==0" style='border:1px white solid;'>
                                    
                                        <li >No Changes Detected</li>
                                    </ul>
                        </div>
                        <button class='ui-g-1' (click)='TriggerReplication(from_db, to_db)' [disabled]="_changes.results.length==0" pButton type="button"
                            icon="fa-refresh"></button>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
</p-panel>